.widget__cart--styles{
    width: 45%;
    height: max-content;
    border-radius: 50%;
    background-color: rgba(5, 5, 5, 0.836);
    color: aliceblue;
    text-align: center;
    font-weight: 700;
    font-size: 0.7rem;
    margin: 1px;
}